<!DOCTYPE html>
{% load static %}
<html>

<head>
    <title>{% block head_title %}Blog{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'main/css/segment.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'main/css/base.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'main/bootstrap/bootstrap.min.css' %}" media="screen">
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
    <link rel="stylesheet" href="{%static 'main/css/swiper.css'%}">
    <script src="https://kit.fontawesome.com/8055a11cd0.js" crossorigin="anonymous"></script>
</head>

<body>
    

    
    <div class = "row" style="border : 0px;">
        <!--sidebar-->
        <div class="col-lg-2 col-md-4 col-sm-6" style="padding : 0px;">
            {%include 'main/sidebar.html'%}
        </div>

        <div class="container my-0 col-md-8 col-lg-10 col-sm-6" style="padding : 0px;">
            {% include 'main/header.html' %}
            <div id="main-area" style="background-color: RGB(249, 249, 249);">
                {% block main_area %}
                {% endblock %}
            </div>
        </div>
    </div>
    
    <!--카테고리-사이드바 코드: base.html 중 어디에 넣어야 될지 몰라서 주석처리 했어!
    SW교육에 있던 base.html코드 보니깐 이 div class가 원래는 <div class="col-md-4 col-lg-3">안에 있었거든 참고해줘
    아 그리고 경로도 blog로 되어 있으니깐 우리 웹페이지에 맞게 변경해야 할 것 같아-->
    <!--    
    <div class="card my-4" id="categories-card">
        <h5 class="card-header">Categories</h5>
        <div class="card-body">
            <div class="row">
                    <ul>
                        {% for category in categories %}
                        <li><a href="{{ category.get_absolute_url }}">{{category}} ({{category.post_set.count}})</a></li>
                        {% endfor %}
                        <li><a href="/blog/category/no_category/">미분류 ({{no_category_post_count}})</a></li>
                    </ul>
            </div>
        </div>
    </div>
    -->


    {%include 'main/footer.html'%}


    <script src="{% static 'main/js/bootstrap.bundle.min.js' %}"></script>
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="{%static 'main/js/swiper-initialize.js'%}"></script>

</body>

</html>