{% load static %}
<div class="card mb-4 mx-2 py-3" style="width:320px" >
                
    <div class="row">
        <div class="col-md-4">
            <a href="#!"><img class="card-img-top" src="https://dummyimage.com/350X550/dee2e6/6c757d.jpg"
                alt="..." /></a>
        </div>
        <div class ="col-md-8">
            <div class="card-body py-0" style="height: 100%;">
                <!--여기부터 추가 시작-->
                
                <!--여기까지-->
                <div class="card-title mb-0" style = "font-size: 18px; height: 30%;"><a class = " text-decoration-none" href="{{r.get_absolute_url }}" style="color : black;">{{ r.title }}<br></a></div>
                
                <div class="text-small text-muted text-end " style="font-size:  12px;">
                    by <a href = "#" class="text-end text-decoration-none" style="color: black;">{{r.author}}</a>
                </div>
                
                <div class="text-small text-muted" style="font-size:  12px;">
                    Posted on {{ r.created_at }}
                </div>

                <div style="position: relative; top: 10px;">
                    <a href="{{ r.category.get_absolute_url }}"><span class = "badge bg-secondary float-right">{{r.category}}</span></a>
                    <span class = "text-end text-small text-muted" style="position: relative; left: 35px;"> like = {{ r.like }}</span>
                </div>

                {% if r.tags.exists %}
                    <i class="fas fa-tags"></i>
                    {% for tag in r.tags.iterator %}
                        <a href="{{ tag.get_absolute_url }}">
                            <span class="badge rounded-pill bg-primary">
                                {{ tag }}
                            </span>
                        </a>
                    {% endfor %}
                {% endif %}

                <div class = "text-end text-small text-muted"> <i class="fas fa-heart" style="color:red"></i> {{ r.like_count }}</div>
            </div>
        </div>
    </div>
</div>