<!DOCTYPE html>
<html>
    {%load static%}
<head>
    
    <title>{%block head_title%}Blog{%endblock%}</title>
    <link rel="stylesheet" href="{% static 'main/bootstrap/bootstrap.min.css' %}" media="screen">

    <script src="https://kit.fontawesome.com/8055a11cd0.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">
                Copyright &copy; Rlead - Segment
            </p>
        </div>
        <!-- /.container -->
    </footer>
</body>
</html>