{%load static%}
<head>
    <link rel="stylesheet" href="{% static 'main/css/header.css' %}" media="screen">
</head>
<body>
    <header class="p-3 bg-light text-white" >
        <div class="container">
          <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
               
            <form class="col-8 mb-3 mb-lg-0 me-lg-3">
              <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search" style="border-color: #3c5c3e;">
            </form>
    
            <div class="text-end col-2">
              <button type="button" class="btn btn-outline-light bg-segment me-2">Login</button>
              <button type="button" class="btn btn-warning">Sign-up</button>
            </div>
          </div>
        </div>
      </header>
</body>