<!DOCTYPE html>
<html lang="en">
  {%load static%}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Document</title>
</head>
<body>
    <nav class="navbar  navbar-dark bg-dark">
        <div class="container">
          <div class="row">
            <a class="navbar-brand col-lg-2" href="">Rlead</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample03"  aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
      
            <div class="collapse navbar-collapse col-lg-8" >
              <form role="search">
                  <input class="form-control" type="search" placeholder="Search" aria-label="Search">
              </form>
              <ul class="navbar-nav  col-lg-2">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">Log-in</a>
                </li>              
              </ul>
              
            </div>
          </div>
        </div>
      </nav>
    
      <script src="/docs/5.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</body>
</html>