{%extends 'main/base.html' %}

{% block main_area %}
    <div class="container">
        <div class="row my-3">
           
            <div class="col-lg-10 col-md-9">
                <h1>BLOG LIST</h1>
                {% for r in review_list %}
                <div class="card mb-4">
                    <a href="#!"><img class="card-img-top" src="https://dummyimage.com/850x350/dee2e6/6c757d.jpg"
                            alt="..." /></a>
                    <div class="card-body">
                        <div class="small text-muted">January 1, 2022</div>
                        <h2 class="card-title"><a href="{{r.get_absolute_url }}">{{ r.title }}</a></h2>
                        <p class="card-text">{{ r.content | truncatewords:45 }}</p>
                        <a href="{{r.get_absolute_url }}" class="btn btn-primary" href="#!">Read more →</a>

                    </div>
                    <div>
                        Posted on {{ r.created_at }} <br>by
                        <a href = "#">작성자 명 쓸 위치</a>
                    </div>
                </div>
                {% endfor %}


            </div>
            
        </div>
    </div>
{%endblock%}