{%load static%}
<div class="swiper mySwiper">
    <div class="swiper-wrapper">
        <!--slides-->
        <div class="bg-secondary swiper-slide">
            배너 광고 1입니다.
        </div>
        <div class="bg-success swiper-slide">
            배너 광고 2입니다.
        </div>
        <div class="bg-warning swiper-slide">
            배너 광고 3입니다.
        </div>
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

    <!-- If we need scrollbar -->
    <div class="swiper-scrollbar"></div>
</div>