<div class="swiper mySwiper">
    <div class="swiper-wrapper">
        <!--slides-->
        <div class="swiper-slide">
            slide 1
        </div>
        <div class="swiper-slide">
            slide 2
        </div>
        <div class="swiper-slide">
            slide 3
        </div>
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

    <!-- If we need scrollbar -->
    <div class="swiper-scrollbar"></div>
</div>