.sidebar-segment{
    background-color: #373b85;
    min-height: 100vh;
    min-height: -webkit-fill-available;
}
.footer-segment{
  background-color: #3c5c3e;
}
.container-segment{
  padding-left: 0px;
  padding-right: 0px;
  max-width: 100vw;
  margin-left: 0px;
  margin-right: 0px;
}
.border-segment{
    border-color: #3c5c3e;
}
.segment-user-desc{
  height: 250px;;
}